[2014-11-01 18:03] leodemoura opened #1 "auto-reload"
The auto-reload feature in firefox only works for local files.
This is problematic since we need to use

[code]

to correctly visualize the pages.
I don't bother pressing refresh to see the effect of my changes, but we should probably remove the auto-reload feature from the `README.md` file.

[2014-11-02 23:10] soonhokong opened #2 "browser cache"
The size of `lean.js` is 6MB and we need to find a way to cache it. Certainly, there is a way to do this:
- https://developers.google.com/speed/docs/insights/LeverageBrowserCaching
- http://www.feedthebot.com/pagespeed/leverage-browser-caching.html
- http://stackoverflow.com/questions/6311694/browser-caching-javascript-and-css-files

However, github pages do not allow us to use `.htaccess` file to

[2014-11-04 00:19] thomasjball opened #3 "functional recursor"
You should define what it is. It is somewhat exotic (for beginners).

[2014-11-04 00:44] thomasjball opened #4 "\r doesn"

[2014-11-04 17:31] #4 closed, assigned to nobody

[2014-11-04 17:58] #3 closed, assigned to nobody

[2014-11-05 01:56] leodemoura opened #5 "odd 'e' in the web interface"
Tom Ball reported the following issue:

![image](https://cloud.githubusercontent.com/assets/2778936/4911492/204a9536-648e-11e4-99d1-3e0a837bb3ab.png)

@soonhokong I think he has a point, it looks weird. I believe the problem happens because we are using 'bold'. I think replacing the font is not feasible, since it took some effort to find one that works in most browsers. What do you think? For me,

[2014-11-07 21:19] #5 closed, assigned to nobody

[2014-11-09 06:04] #1 closed, assigned to nobody

[2014-11-23 19:27] soonhokong opened #7 "generate PDF"

[2014-11-23 19:29] soonhokong opened #8 "examples with quotation marks (' and ") do not work"
e.g. the first example in Section 1.4.

[2014-12-12 15:22] #8 closed, assigned to soonhokong

[2014-12-12 15:23] #7 closed, assigned to soonhokong

[2014-12-12 15:25] #2 closed, assigned to soonhokong

[2014-12-15 17:12] soonhokong opened #12 "make tutorial content pane resizable"
It's implemented, but it doesn't work well when the document is long.

[2014-12-15 17:13] soonhokong opened #13 "make "try it yourself" only for Lean src block"

[2014-12-15 17:32] #13 closed, assigned to soonhokong

[2014-12-19 20:04] #12 closed, assigned to soonhokong

[2014-12-19 20:05] soonhokong opened #14 "Special section for exercise"
@avigad requested this feature:

"an environment for exercises that would have some distinctive typesetting (on the web page, and in the book)"

[code]

[2014-12-30 19:11] soonhokong opened #16 "hide the parts outside the "-- BEGIN / END" comments in PDF"

[2014-12-30 19:12] soonhokong opened #17 "turn off the line numbers in the code listing (PDF)"

[2014-12-30 19:23] #16 closed, assigned to soonhokong

[2014-12-30 19:23] #17 closed, assigned to soonhokong

[2014-12-30 22:20] soonhokong opened #18 "space separating paragraphs"

[2015-01-04 00:08] avigad opened #20 "PDF tutorial page size"
On my PDF reader (Okular), "properties" says that the PDF tutorial is 6 by 9 inches. And when I print out a page, it is typeset in the upper right corner with about three inch margins on the left and bottom, and the topmost and rightmost part of the page are cut off.

[2015-01-10 23:05] avigad opened #21 "descriptions for buttons"
From Bas Spitters: "A tiny suggestion on the web interface. Not all the symbols are completely self-explanatory. Perhaps you can add a description on mouse over."

[2015-01-13 19:50] avigad opened #23 "blackboard bold N for nat does not appear in the pdf file"
For example, in Sections 4.2 and 6.2.

(Another issue is that we should be more consistent about using "nat" or "IN". At some point, I'll change them to the blackboard bold N.)

[2015-01-15 06:54] #23 closed

[2015-01-15 06:56] soonhokong commented on #23
We're using [Unixode](https://github.com/olivierverdier/Unixode) package to convert a unicode character to a latex markup. For instance, unicode charater 'α' is converted to '\alpha' thanks to this package.

Problem was that it didn't have an entry for "blackboard bold N". I just added the entry in f76b6c8. I guess that we're missing many other symbols. In case you find some math symbols are not r

[2015-01-15 07:23] #20 closed

[2015-01-15 07:23] soonhokong commented on #20
You're right. We used the document class 'ebook' which uses 6 by 9 inches paper. It's for a small device such as Kindle. I changed it to use document class 'book' instead of 'ebook', which uses 8.5 by 11 inches paper (letter-size).

[2015-01-15 07:43] soonhokong commented on #23
Also, when you see a red box in a Lean code block (in PDF), please let me know. Normally, it happens when our syntax highlighting rule has missing symbols. For example, we had red boxes around '⌞', '⌟', and '≡' symbols. I just fixed the problem and created a pull-request to the [main pygment repository](https://bitbucket.org/birkenfeld/pygments-main/pull-request/427/add-missing-operators-for-lean-

[2015-01-15 07:46] soonhokong commented on #20
FYI, the new version is available at http://leanprover.github.io/tutorial/tutorial.pdf .

[2015-01-15 08:23] soonhokong commented on #14
When we use `+#BEGIN_EXERCISE` and `+#END_EXERCISE` block, it has the following effects:

 - in HTML: it wraps the contents with `<div class="exercise">` `</div>` tags. By providing CSS rule for `exercise` class, we can achieve what we want.

 - In PDF: it puts the contents inside of `exercise` environment -- `\begin{exercise}` and `\end{exercise}`. We can define this environment to handle it spec

[2015-01-15 08:31] soonhokong commented on #14
When we use `+#BEGIN_EXERCISE` and `+#END_EXERCISE` block, it has the following effects:

 - in HTML: it wraps the contents with `<div class="exercise">` `</div>` tags. By providing CSS rule for `exercise` class, we can achieve what we want.

 - In PDF: it puts the contents inside of `exercise` environment -- `\begin{exercise}` and `\end{exercise}`. We can define this environment to handle it spec

[2015-01-15 08:31] soonhokong commented on #14
For now, in HTML, it shows exercise blocks as follows:

![screen shot 2015-01-15 at 5 30 14 pm](https://cloud.githubusercontent.com/assets/403281/5754448/588d0b28-9cdc-11e4-8ae4-46bf59e621b4.png)

[2015-01-15 08:33] #14 closed

[2015-01-15 08:36] soonhokong commented on #23
FYI, Pull-request merged https://bitbucket.org/birkenfeld/pygments-main/pull-request/427

[2015-01-18 03:09] leodemoura opened #24 "The characters ⦃ ⦄ are invisible in the tutorial PDF"
BTW, they are fine in the HTML version.

Both characters are used in Section 10.2

[2015-01-18 05:07] #24 closed

[2015-01-18 05:07] leodemoura commented on #24
Thanks! :+1:

[2015-01-18 05:08] soonhokong commented on #24
![screen shot 2015-01-18 at 2 06 24 pm](https://cloud.githubusercontent.com/assets/403281/5791482/5dc5b234-9f1b-11e4-95f9-33ca8f865ddd.png)

[2015-01-18 05:09] soonhokong commented on #24
Dear @leodemoura, do you like it? I literally used '{' and '|' to define '{|':

[code]

Please pick better LaTeX symbols if you want :-)

[2015-01-18 05:10] leodemoura commented on #24
It looks good. I didn't notice you were simulating it :-)

[2015-01-18 05:12] soonhokong commented on #24
Great, that's good sign!!

FYI, our unicode <=> LaTeX symbol table [unixode.sty](https://github.com/leanprover/tutorial/blob/master/unixode.sty) is incomplete and we will have similar problem from time to time in the future. Please let me know if you notice something like this, I will add more entires on demand.

[2015-01-18 05:14] leodemoura commented on #24
Great. I can try to fix it next time :-)

Thanks.

[2015-01-18 12:24] soonhokong opened #25 "Failed example in chapter 2"
Dear @avigad,

My friend @pondering sent me an email reporting an issue in the code example in chapter 2 (2.7 Implicit Arguments).

[code]

The last three checks generate errors. Could you take a look at and fix it?

@leodemoura, I remember that you mentioned a way to automatically check all the code in .org files. Could you elaborate it more? I'll integrate it in .travis.yml file so that we will

[2015-01-18 16:55] leodemoura commented on #25
The script is called `test.sh`. The syntax is:
[code]
Here is an example:
[code]
Unfortunately, the script does not catch the problem you reported. The problem is that in the web version we automatically import `standard`. So, the behavior is different.
When we import `standard`, there are two namespaces `hide.list` and `list`, and `open list` is ambiguous. I modified `test.sh` to also import `sta

[2015-01-18 17:00] #25 closed

[2015-01-18 17:05] soonhokong commented on #25
By 7c63933 and 9cb47c1

[2015-01-18 17:15] soonhokong commented on #25
@leodemoura, thanks!

@avigad, in 3e92bd8ebc842678847ee453ce18015a1bc2f67d, I added `test` target in the Makefile. You can run `make test` to test all the lean code in all org files. In case you need to specify lean binary, you can do it by running `LEAN_BIN=path/to/lean/binary make test`

We also run this in travis and send an email to lean-build@googlegroups.com if there is any error.

[2015-01-18 18:30] #18 closed

[2015-01-18 18:30] #21 closed

[2015-01-18 18:36] soonhokong commented on #25
FYI, travis-ci is using the lean binary in the [ppa](https://launchpad.net/~leanprover/+archive/ubuntu/lean) which is slightliy outdated now. As a result, travis-ci generates generates the following error for `make test` command:

[code]

I checked that the problem was already fixed by recent commits in lean repo. I'm sure that this problem is temporary and will be solved once we finish up automat

[2015-01-18 19:41] avigad commented on #25
Thanks, Leo, for fixing the problem.

On Sun, Jan 18, 2015 at 1:36 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-18 20:32] leodemoura commented on #25
@soonhokong I can't update the ppa from home. I don't have the key on my home computer.
I will update the ppa first thing in the morning.
If you have your key with you, you can fix the problem by running the `update.sh` script.

[2015-01-18 23:35] soonhokong commented on #25
@leodemoura, I ran `update.sh`. Now, we don't have the problem any more:

    https://travis-ci.org/leanprover/tutorial/jobs/47467828

[2015-01-19 00:04] leodemoura commented on #25
Thanks!

[2015-01-19 08:18] pondering commented on #25
Thanks.

[2015-01-23 20:49] soonhokong opened #29 "change C-x to something else"
Prof. Klaus Sutner mentioned about this in the class. Actually current binding of executing code, `C-x`, is bad because it should do *cut*. I'm thinking about `shift-enter` or something with `enter`.

[2015-01-23 20:50] leodemoura commented on #29
I like `shift-enter`

[2015-01-23 20:51] soonhokong commented on #29
@leodemoura, thanks for the opinion. I'll change it, test in many browsers, and close this one.

[2015-01-23 20:54] soonhokong opened #30 "weird scrolling"
sometimes the whole tutorial page is scrolled up slightly so that users can only see the bottom half of the top menu bar.

[2015-01-23 21:18] soonhokong opened #31 "remove the annotations if any previous line is changed"

[2015-01-23 21:21] soonhokong commented on #29
also need to let users know about the shortcuts.

[2015-01-23 21:21] soonhokong opened #32 "need a navigation for chapter/section"

[2015-01-25 10:48] #31 closed

[2015-01-25 10:51] soonhokong commented on #29
@leodemoura and @avigad, I've changed the keybinding to `shift+enter`. On my mac, it worked well in Chrome, Firefox, and Safari. But I couldn't tested it on Windows and Linux platforms. Could you try and let me know if you find a problem there? Thank you.

[2015-01-25 12:07] soonhokong commented on #32
@leodemoura and @avigad, I added the navigation, please check the new version at https://leanprover.github.io/tutorial

It still has some issues:

 - All chapters start with number 1, which should be fixed.
 - The navigation is hard-coded in `main_live.js` file, it should be dynamically generated by `Makefile`

I'll work on them.

[2015-01-25 14:42] avigad commented on #29
Nothing seems to have changed in the stand-alone version. The tutorial
version seems to work with shift-enter on Firefox. But in Chrome, if I
press "play" or "shift-enter" after Lean has loaded, with either an empty
input or 'print "hello"', the process freezes. The console window says
"Processing...". I can continue to edit the file, but pressing play again
or shift-enter does not produce any res

[2015-01-25 14:43] avigad commented on #32
Very nice!

On Sun, Jan 25, 2015 at 7:07 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-25 15:41] avigad commented on #29
I just confirmed that this also happens on my office computer (both my
laptop and office computer are running Kubuntu 13.10). Please let me know
if there is something else I can do to test.

On Sun, Jan 25, 2015 at 9:42 AM, Jeremy Avigad <avigad@cmu.edu> wrote:

[2015-01-25 15:41] soonhokong commented on #29
I guess you're using Ubuntu, right? I will double check it.

[2015-01-25 15:42] soonhokong commented on #29
Oops, you've mentioned that you're using Kubuntu.

[2015-01-25 19:01] leodemoura commented on #29
I have the same problem with Ubuntu 14 + Chrome.

[2015-01-25 19:03] avigad commented on #29
Sorry, I am also using 14.10. (The years are just flying by.)

On Sun, Jan 25, 2015 at 2:01 PM, Leonardo de Moura <notifications@github.com

[2015-01-25 20:03] soonhokong commented on #29
Thanks for the reports. It's actually a bug coming from another fix. I'm working on it.

[2015-01-26 01:21] soonhokong commented on #29
@avigad and @leodemoura, I think the problem is fixed. Could you check on your sides?

[2015-01-26 01:48] avigad commented on #29
It works beautifully now. Thanks.

As far as the console window, right now "check", "eval", and "print" do not
show any output there, so there is not much reason for it. But it does
serve to confirm that a file compiled successfully.

@leodemoura, do you think we should show responses in the console window in
addition to the "i" and "x" annotations? Or leave it the way it is? Or get
rid of the con

[2015-01-26 01:56] soonhokong commented on #29
In a previous email, @leodemoura mentioned about the reason for keeping the console window. For example, `lean.js` itself could fail and we need a place to display error messages.

I changed the default ratio between main editor and console window from 5 : 5 to 8 : 2. In addition to that, you can click the console icon to toggle it.

[2015-01-26 01:56] soonhokong commented on #29
Let me close this one once I get a confirmation from @leodemoura.

[2015-01-26 01:58] avigad commented on #29
I noticed the new ratio. With the "i" and "x" annotations, I guess there is
no reason to put responses in the console. So I think the behavior is ideal.

On Sun, Jan 25, 2015 at 8:56 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-26 17:27] leodemoura commented on #29
It looks great, but I notice a new behavior.
Now, some annotations (i or x) disappear if we modify the buffer.
Is this intended?

[2015-01-26 17:31] soonhokong commented on #29
Yes. The intention is to remove the annotations which possibly are invalidated by changes. Please see it's https://github.com/leanprover/tutorial/issues/31

Q: Do you like it or is it mis-leading?

[2015-01-26 17:38] soonhokong opened #33 "fix chapter/section numbering"
Related issue: #32

[2015-01-26 17:38] soonhokong opened #34 "dynamically generate navigation contents in Makefile"
Related issue: #32

[2015-01-26 17:38] #32 closed

[2015-01-26 17:41] avigad commented on #29
I think it is o.k. It is easy to press shift-enter to re-check.

On Mon, Jan 26, 2015 at 12:31 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-26 18:43] #29 closed

[2015-01-26 18:51] leodemoura commented on #29
@soonhokong It is still "ctrl-x" on the live website:
https://leanprover.github.io/live/

[2015-01-26 18:55] soonhokong commented on #29
@leodemoura, I'm thinking about merging the live website and the tutorial website:

 - Add an icon to toggle the tutorial pane
 - Add an GET option to specify the initial value of it (something like `?tutorial=off`)

When it's done, "the live" link should point to https://leanprovier.github.io/tutorial/?tutorial=off (or something like that). Do you think it's a good plan?

[2015-01-26 19:04] leodemoura commented on #29
I think merging is a good idea.
I'm not sure if we need the icon. I think the GET option is enough.
What about `?tutorial=path`? The `path` indicates which html tutorial should be used with the web interface. If none is provided, then it is the "live" version.
I think this will be useful for the reference manual we will write in the future, and for any other form of documentation we may want to wr

[2015-01-26 19:12] soonhokong commented on #29
Great! For now, the live page is outdated and I really felt bad about it.

In the live mode, I think it's better to hide the chapter navigation selector in the menu bar. With the tutorial icon, we can hide/show both of the tutorial pane and the selector. Let me first do it and show it to you, later we can change it.

I like it. I'll do this.

Just to clarify, this is what I have in mind:

 - https

[2015-01-26 19:16] leodemoura commented on #29
I was not clear. Here is the refined version of the suggestion

- https://leanprover.github.io/live:   live demo
- https://leanprover.github.io/live?doc=tutorial:   show tutorial.html on the left hand side
- https://leanprover.github.io/live?doc=refmanual:   show refmanual.html on the left hand side

[2015-01-26 19:47] #33 closed

[2015-01-26 19:49] soonhokong opened #35 "merge live and tutorial"
https://github.com/leanprover/tutorial/issues/29#issuecomment-71517193
https://github.com/leanprover/tutorial/issues/29#issuecomment-71518498
https://github.com/leanprover/tutorial/issues/29#issuecomment-71519342

[2015-01-26 19:49] soonhokong commented on #29
@leodemoura, thanks for the clarification. I created https://github.com/leanprover/tutorial/issues/35 for this.

[2015-01-26 21:12] soonhokong opened #36 "failure on make test doesn't generate a proper exit code"
Example: https://travis-ci.org/leanprover/tutorial/jobs/48388232

[2015-01-27 01:14] soonhokong opened #37 "make -j fails"

[2015-01-27 02:40] #34 closed

[2015-01-27 02:40] #36 closed

[2015-01-27 02:40] #37 closed

[2015-01-27 04:16] soonhokong opened #38 "test failure in chapter 5"
Dear @leodemoura  and @avigad ,

As you may notice, we have a test failure in chapter 5 of the tutorial. Here is the log:

[code]

You can also find this failure at travis-ci: https://travis-ci.org/leanprover/tutorial/jobs/48438890#L3664-L3683

Note that we're using lean-0.2.0.20150126211556.git2a5658ebe28ad3f7b3be13fdac6213a1a4cf000d~12.04 which is the latest version (https://github.com/leanprove

[2015-01-27 05:43] soonhokong opened #39 "use script.js to load javascripts asynchronously while respecting dependencies"
https://github.com/ded/script.js

[2015-01-27 05:45] soonhokong opened #40 "minify javascript"
latest version of google closure-compiler: http://dl.google.com/closure-compiler/compiler-latest.zip

usage:
[code]

[2015-01-27 05:48] soonhokong opened #41 "minify css"
use http://yui.github.io/yuicompressor/

[2015-01-27 05:50] soonhokong commented on #30
@avigad, could you let me know if you're still experiencing this with the new version (where there is no TOC)?

[2015-01-27 14:30] avigad commented on #38
I am fixing this now...

On Mon, Jan 26, 2015 at 11:16 PM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-27 14:47] avigad commented on #38
These have to do with a recent change to the attribute declarations; now
persistent is the default, and we use "local attribute" for a temporary
change. I just issued a pull request, 7b8652e.

Later today, I will make a lot of small additions and changes to the
tutorial, and review these changes more carefully.

On Tue, Jan 27, 2015 at 9:30 AM, Jeremy Avigad <avigad@cmu.edu> wrote:

[2015-01-27 15:14] soonhokong commented on #38
Closed by 7b8652e0a049c9931886ff2684d992821e6b7687
All tests passed at https://travis-ci.org/leanprover/tutorial/jobs/48493104

Thank you! Just as a reminder, you can run `make test` to check all the code in `.org` files are running without an error.

[2015-01-27 15:14] #38 closed

[2015-01-28 01:20] avigad commented on #30
I can't reproduce the problem, but I will let you know if it comes back.

On Tue, Jan 27, 2015 at 12:50 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-29 02:28] avigad opened #44 "get cross-chapter links working"
There is an example of a cross-chapter link in Section 8.1.

The following solution doesn't seem to work:

  http://stackoverflow.com/questions/4577709/emacs-org-mode-org-to-html-conversion-linking-to-section-in-a-different-page

[2015-01-29 02:30] avigad opened #45 "get _blank attribute working"
I tried this method with the first two links in Section 5.6, Notations, Overloads, and Coercions:

  http://orgmode.org/manual/Links-in-HTML-export.html#Links-in-HTML-export
  http://stackoverflow.com/questions/14217908/org-mode-export-to-html-links-open-in-new-tabs

It doesn't seem to work.

[2015-01-29 05:45] soonhokong opened #46 "www version doesn't work in OSX+Safari env"
@awodey reported via @avigad.

I believe that this is due to 3453d606a730bf6930564c347eb1d332b1116ba0. I'll fix it soon.

[2015-01-29 07:01] #46 closed

[2015-01-29 07:02] soonhokong commented on #46
It works in Chrome/Safari/Firefox on my mac. Please open an issue if you experience a problem in other platform+browser combinations.

[2015-01-29 07:13] soonhokong opened #47 "test failure / chapter two / 2nd to the last code block"
@avigad, there is a test failure.

https://travis-ci.org/leanprover/tutorial/jobs/48726614

Code:
[code]

Message:
[code]

[2015-01-29 14:19] avigad commented on #47
My apologies. I just issued a pull request to fix it, #48.

(Was there away to append the pull request to this issue?)

On Thu, Jan 29, 2015 at 2:13 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-29 14:30] soonhokong commented on #47
- Normally, I [close issues via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages).
 - In case you want to close an issue in repo `A` (i.e. leanprover/tutorial) by pushing a fix to repo `B` (i.e. avigad/tutorial), please read [closing issues across repositories](https://github.com/blog/1439-closing-issues-across-repositories).

[2015-01-29 14:30] soonhokong commented on #47
Close by 2acdf485be92e7a79e803e136c695fb1513472b2

[2015-01-29 14:30] #47 closed

[2015-01-29 14:55] avigad commented on #47
Thanks, this is helpful. But from the instructions it looks like I cannot
close an issue in leanprover/tutorial, because I do not have permission to
push to that repository. Have I misunderstood?

On Thu, Jan 29, 2015 at 9:30 AM, Soonho Kong <notifications@github.com>
wrote:

[2015-01-29 15:06] soonhokong commented on #47
Dear @avigad, I haven't used the way to close an issue in other repositories, yet. However, I can think of two possible solutions:

 - When you commit, simply write "close #47" in the commit message. It will not close leanprover/tutorial#47 by the time you push the commit to `avigad/tutorial`. However, it will close leanprover/tutorial#47 by the time the pull-request is merged at `leanprover/tutor

[2015-01-29 15:07] soonhokong commented on #47
The first approach is what I'm using in `dreal/dreal` and `leanprover/lean`. From time to time, I think I fixed an issue but it turns out that it's not. It gives me some buffer to fix that kind of situation.

[2015-01-29 16:26] leodemoura commented on #46
@soonhokong, I just tried with my wife's mac air. It works perfectly.
She is using the latest version of the OS and Browser.
Perhaps, Steve is using an older version.

[2015-01-29 16:31] soonhokong commented on #46
Dear Leo, good to know that it's working now. Actually I was able to
reproduce the problem on my macs. I pushed the commits to fix it.

BTW, could you check the IE when you are at MSR?

--
Soonho Kong
soonhok@cs.cmu.edu

[2015-01-29 18:44] leodemoura commented on #46
It works perfectly on IE (Windows 8).
It doesn't work on Windows 7 + IE 9, but we knew that.

BTW, Tom Ball is reading the tutorial, and doing the exercises.
He is probably using IE.

[2015-01-29 18:48] soonhokong commented on #46
Great!

Yes.. https://github.com/kripken/emscripten/issues/495

Good to know!

[2015-01-29 19:10] #44 closed

[2015-01-29 19:11] soonhokong commented on #45
Closed by 26f3042 and f987cc2.

[2015-01-29 19:12] #45 closed

[2015-01-29 19:14] soonhokong commented on #45
@avigad, you don't need to do anything special to let external link be opened in a new tab. Please see 26f3042 for details.

[2015-01-29 19:16] soonhokong commented on #44
@avigad, I've fixed this one. PDF and WWW versions are handled properly. Please note that I fixed the chapter 8: https://github.com/leanprover/tutorial/commit/1b0baf70617b007571a4706ea0e7abd4d8380b37

[2015-01-29 19:30] soonhokong opened #49 "remember the previous chapter using cookie"

[2015-01-29 19:31] soonhokong opened #50 "section number is not well-adjusted yet in the web version"
For example, http://leanprover.net/tutorial/08_Building_Theories_and_Proofs.html has a link to "Section 1.4" which should be "Section 8.4".

[2015-01-29 19:36] awodey commented on #46
In fact, I updated to the latest version last night to check whether that was the problem, but it was not.
now however it is working fine, so the problem seems to have been fixed.
thanks,

Steve

[2015-01-29 19:37] soonhokong commented on #46
@awodey, thank you for the confirmation. I will be more careful when I update the page.

[2015-01-29 19:56] #49 closed

[2015-02-04 16:58] soonhokong opened #52 "execution results of code blocks in PDF version?"
Ed suggested this in his comments.

[2015-02-06 20:45] soonhokong commented on #35
I'm in the classroom, watching a student who plays with [live](http://leanprover.github.io/live) page which is outdated. Let me do some quick fix:

 - add an argument to the tutorial page `?live=true` which disables tutorial pane (left) and the navigation bar (top). In that sense, it should be identical to the original live page.
 - redirect http://leanprover.github.io/live to http://leanprover.gi

[2015-02-06 21:53] soonhokong commented on #35
- Please test http://leanprover.github.io/tutorial/?live=1. It worked in Chrome/Safari/Firefox on my mac.
 - I've changed the link "TRY LEAN" to point to http://leanprover.github.io/tutorial/?live=1
 - http://leanprover.github.io/live is still outdated while there is no link to it now. Github pages do not support redirection with `.htaccess`. I'll think about alternatives.

[2015-02-06 21:54] soonhokong opened #54 "test failure in chapter 9"
I wish this is because of using old version of lean (we're using apt-get version in travis, and it's built 23 hours ago now).

[code]

https://travis-ci.org/leanprover/tutorial/jobs/49797191

[2015-02-06 21:57] leodemoura commented on #35
It works on Win 8 (Chrome and IE)
It works on Linux (Chrome and Firefox)

[2015-02-06 22:11] soonhokong commented on #35
Thank you!

[2015-02-09 05:02] soonhokong commented on #54
https://travis-ci.org/leanprover/tutorial/builds/49824991

[2015-02-09 05:02] #54 closed

[2015-02-12 12:35] soonhokong commented on #30
@avigad, let me close this one. Please feel free to re-open this one when you experience the problem again.

[2015-02-12 12:35] #30 closed

[2015-02-12 12:36] soonhokong opened #58 "extract input-method from lean dynamically (in travis)"

[2015-02-12 12:37] soonhokong opened #59 "extract auto-complete information from lean dynamically (in travis)"

[2015-02-12 12:45] soonhokong commented on #59
FYI, `ctrl + space` is the key-binding for auto-completion in the web interface.

[2015-02-12 13:16] soonhokong opened #60 "some unicode symbols are not rendered correctly"
need to use 'freemono-lean' in `<pre>`

[2015-02-12 13:39] #60 closed

[2015-02-12 15:35] soonhokong opened #61 "font problem"
For example, subscript n is rendered correctly **only if** a system has GNU Unifont (or other fonts which have a glyph for subscript n). Please see the following screenshot:

![screen shot 2015-02-12 at 10 24 42 am](https://cloud.githubusercontent.com/assets/403281/6170285/61d36558-b2a1-11e4-8aaf-f225fb12a711.png)

One possible solution is to provide a webfont for [GNU Unifont](http://unifoundry.c

[2015-02-12 16:10] #61 closed

[2015-02-12 16:13] soonhokong commented on #61
It turns out that GNU Unifont is too big (12MB) to be embedded as a webfont. Instead, I added [DejaVuSans](http://www.fontsquirrel.com/fonts/dejavu-sans) as a second webfont. The tutorial first tries to use GNU FreeMono and then DejaVuSans.

It is still possible that we fail to render some unicode symbols just because Unicode space is huge. If that happens, we might need to add some other fonts (o

[2015-02-12 16:22] soonhokong commented on #61
Fixed.

![screen shot 2015-02-12 at 11 21 15 am](https://cloud.githubusercontent.com/assets/403281/6171556/60c05934-b2a9-11e4-8729-1360f77f61e5.png)

[2015-02-13 02:58] soonhokong opened #62 "support citation"
Reference:
 - HTML Export: https://github.com/yyr/org-mode/blob/master/contrib/lisp/ox-bibtex.el
 - PDF Export: http://tex.stackexchange.com/questions/114864/how-to-get-bibtex-to-work-with-org-mode-latex-export

[2015-02-13 04:46] #62 closed

[2015-02-13 05:22] soonhokong commented on #62
Dear @avigad and @leodemoura

Please take a look at the example 63afcca3b1484b02c630090ab03d1fd4d82ae18c which shows how to add citations in the tutorial:

 1. Add bibtex items to `lean.bib`
 2. Use `\cite{key}` in `.org` as you do in `.tex`

Note: please install **`bibtex2html`** in your system. In Ubuntu, `sudo apt-get install bibtex2html` should do the job. In OS X, `brew install bibtex2html` w

[2015-02-13 05:26] soonhokong commented on #62
Ooops.. I've added CoC citation ot CIC...

[2015-02-14 02:35] avigad commented on #62
This looks great! I will modify this one and add more citations soon.

[2015-02-14 09:44] soonhokong commented on #62
FYI, this is the bibtex file for Adam Chlipala's "Certified Programming with Dependent Types" book.

http://adam.chlipala.net/cpdt/repo/raw-file/aed0fcfabdbd/latex/cpdt.bib

[2015-03-26 00:17] soonhokong opened #69 "hyperref for link"
@avigad wrote in an email:

[code]

[2015-03-26 02:05] #35 closed

[2015-03-26 03:08] #69 closed

[2015-03-26 03:08] soonhokong commented on #69
![screen shot 2015-03-25 at 11 07 36 pm](https://cloud.githubusercontent.com/assets/403281/6839766/df32d16a-d343-11e4-8220-d6594a3d5259.png)

[2015-03-26 03:28] #50 closed

[2015-03-26 03:29] soonhokong commented on #52
As far as I remember, we decided not to implement this.

[2015-03-26 03:29] #52 closed

[2015-03-26 12:59] avigad commented on #69
Beautiful!

[2015-03-26 14:47] soonhokong commented on #41
We use https://www.npmjs.com/package/cssmin
Closed by 06efda708077540f40abcfb0660e38dc2b472039

[2015-03-26 14:47] #41 closed

[2015-03-26 14:47] soonhokong commented on #40
We use https://www.npmjs.com/package/minify
Closed by 06efda708077540f40abcfb0660e38dc2b472039

[2015-03-26 14:47] #40 closed

[2015-03-26 16:17] soonhokong commented on #59
close by dc4f0b993e5a07b81129923c75a7906c7942475c

[2015-03-26 16:17] #59 closed

[2015-03-26 17:04] soonhokong commented on #58
Close by 39e85858c0d9bcb00c357849f056d3792789275e

[2015-03-26 17:04] #58 closed

[2015-03-28 16:31] konn opened #71 "Unsolvable Exercise in Chapter 4"
In chapter 4, the following proposition is provided as exercise:

[code]

But, because there are no hypothesis assuming A is non-empty, I think this exercise cannot be shown.

[2015-03-28 16:42] leodemoura commented on #71
Thanks for catching that.
I will split the exercise in two:
[code]

[2015-03-28 17:23] #71 closed

[2015-03-29 10:49] LiamGoodacre opened #73 "found a few issues"
2.3 Function Abstraction and Evaluation
---

The last bit:

Should be

2.5 Local definitions [0]
---

The last bit:

Should be

2.5 Local definitions [1]
---

Shouldn't all the occurrences of `(λa, t1) t2` actually be `(λa, t2) t1` - as we are saying that `a` should represent an abbreviation for `t1` within `t2`.  Which is how `let a := t1 in t2` reads.

6.2 Constructors with Arguments
---

Descri

[2015-03-29 19:58] LiamGoodacre commented on #73
8.3 Opaque Definitions
---

Spelling mistake; `defiend` should be `defined`:

[2015-03-29 20:10] LiamGoodacre commented on #73
8.6 Sections and Contexts
---

The `the` should be `that` in:

[2015-03-29 20:38] #73 closed

[2015-03-30 03:53] goretkin opened #75 "explanation of nat -> (nat->nat) is wrong"
https://github.com/leanprover/tutorial/blob/03bfe1cb4733906a1ee15658213fd8295aecdf01/02_Dependent_Type_Theory.org#simple-type-theory

"the type of g is nat → (nat → nat). Thus we can view g as a function that takes natural numbers and returns a natural number."

should be something like "...and returns another function that takes a natural number and returns a natural number."

[2015-03-30 04:44] #75 closed

[2015-03-30 04:44] leodemoura commented on #75
thanks for catching it

[2015-03-30 17:55] lilred opened #76 "Online tutorial's links do not support Cmd-click, do not preserve browser history, and more"
I'm listing several bugs here, but they all have the same root cause and fix, related to how internal links are handled.

Bug #1: from https://leanprover.github.io/tutorial/index.html, I click the drop-down list and select "02 Dependent Type Theory". The URL address does not meaningfully change; if I send the address to someone and they open it, it brings them to chapter 1.

Expected behaviour: if

[2015-03-30 17:57] lilred commented on #76
I'll take this occasion to express how excited I am about Lean. The tutorial is especially user-friendly.

[2015-03-30 17:57] lilred opened #77 "Dropbox button hits 400 page (malformed request)"
From https://leanprover.github.io/tutorial/index.html, clicking the Dropbox button sends me to a page with the following text:

Error (400)
It seems the app you were using submitted a bad request. If you would like to report this error to the app's developer, include the information below.

More details for developers

Invalid redirect_uri: "https://leanprover.github.io/tutorial/index.html". It mu

[2015-03-30 17:59] soonhokong commented on #76
Thanks for reporting the bugs! I'll fix them soon.

[2015-03-30 18:04] lilred commented on #76
You're welcome. Normally I'd try to contribute pull requests, but finals are looming in Canada so I can't start anything. Good luck.

[2015-03-30 18:07] soonhokong commented on #76
@lilred, sure. When you have a change, please contribute to this repo :-) Good luck with your finals!

[2015-03-30 19:06] lilred commented on #76
There's a related issue which I'm not sure how to consistently reproduce. Sometimes, when using the drop-down list to go to one chapter to the next, I end up on, say, section 4.3 instead of the top of the Chapter 4 page. I'm going to open an issue once I figure out how to repro.

[2015-03-30 23:05] soonhokong commented on #77
I've added the followings to the Redirect URIs:
 - https://leanprover.github.io/tutorial/index.html
 - https://leanprover.github.io/tutorial/?live

[2015-03-30 23:05] #77 closed

[2015-04-01 18:56] rkirsling opened #78 "Incorrect suggestion about `open` within `section`"
While enjoying your tutorial, I noticed that the following sentence from Chapter 2 is incorrect:

Apparently, this is only true for `namespace`, not for `section`&mdash;which https://github.com/leanprover/lean/issues/441 confirms as intended behavior.

[2015-04-02 00:36] arademaker opened #79 "suggestion of improvement in the text"
Not sure if this is the right place to make general comments and questions about the tutorial. Let me know...  Page 31 (printed version), we have this sentence below that is not clear to me. After all, p is not mentioned after the first statement.

Indeed, if p : Prop is any proposition, Lean’s standard kernel treats any two elements t1 t2 : Prop as being “definitionally equal,” much the same way

[2015-04-02 02:26] #79 closed

[2015-04-02 15:32] soonhokong opened #81 "Issues with some symbolic shortcuts"
Created by @rkirsling in https://github.com/leanprover/leanprover.github.io/issues/30

---

Some of the backslash shortcuts aren't producing their expected output in the online editor.

According to the table in Chapter 3.3 of the tutorial:
* `\iff` and `\lr` should produce ↔
* `\not` and `\neg` should produce ¬

In the first case, `\lr` works as expected (as does `\<->` and `\leftrightarrow`), bu

[2015-04-02 18:08] soonhokong commented on #81
Dear @avigad and @leodemoura,

I've noticed this one too. Do you see any problem in mapping `\iff` to ↔ instead of ⇔?

I think @avigad mentioned this one in lean-discuss list. If you don't mind, I'm happy to make the change.

FYI, [input-method.js](https://raw.githubusercontent.com/leanprover/tutorial/gh-pages/js/input-method.js) is automatically generated from [leanprover/lean/src/emacs/lean-inpu

[2015-04-03 00:46] rkirsling commented on #81
Looks like the root cause is simply that `\iff` and `\not` are being mapped to their MathJax defaults, since these sequences aren't specified in lean-input.el. (Same goes for `\leftrightarrow` and `\lnot`, though those are unproblematic.)

_I'm assuming this also means that `\iff` and `\not` are outright unrecognized in Emacs, but I've only tried the online editor so far._

[2015-04-03 00:55] avigad commented on #81
Yes, both should be added to lean-input.el. @soonhokong, feel free to do this (or I will next time I add to the library).

[2015-04-03 00:55] soonhokong commented on #81
@rkirsling and @avigad, I will fix it tonight.

[2015-04-03 02:04] #78 closed

[2015-04-03 02:14] #81 closed

[2015-04-03 19:20] soonhokong opened #83 "highlight for definition name"
![screen shot 2015-04-03 at 3 20 28 pm](https://cloud.githubusercontent.com/assets/403281/6987435/f703a436-da14-11e4-896d-ac6fbf80a8e2.png)

[2015-04-03 19:20] soonhokong commented on #83
`Prop.is_inhabited` should be all green.

[2015-04-06 00:57] rkirsling opened #84 "Indication of constructive validity in list of propositional assertions"
_Apologies in advance if this is needlessly nitpicky!_

Section 3.6 of the tutorial includes a "list of assertions in propositional logic" left for the reader to prove as an exercise, remarking that:

Although qualified with "for example", this is **nearly** a complete listing of the places where classical reasoning is required (and leads the reader to believe it might be complete), except that:
-

[2015-04-06 15:48] leodemoura commented on #84
Thanks! We are going to use your suggestion.

[2015-04-09 00:39] avigad opened #86 "wrong titlebar in PDF reader"
When I open the tutorial in my PDF reader, the title bar shows the old title, "Dependent Types in Lean". I can't figure out where it is getting that from -- the title is correct in all the .org files. What is going on?

[2015-04-09 00:42] soonhokong commented on #86
It comes from https://github.com/leanprover/tutorial/blob/244afa00a09b705d0d0dd7cb1e9a7cc91630c919/header/header.tex#L38

I'll fix it tonight. Thanks for the report!

[2015-04-09 00:59] #86 closed

[2015-04-09 09:15] #84 closed

[2015-04-15 03:17] rkirsling opened #87 "Issues in existential quantification exercises"
I noticed a few issues while going through the existential quantification exercises at the end of Chapter 4:

- `(∀x, p x → r) ↔ (∃x, p x) → r`

This one is actually unsolvable as written. Merely outlining the proof already results in an error:
[code]
Adding parentheses around the right side of the biconditional makes everything right again. I'm not sure whether this is a bug or just a typo.

- `(

[2015-04-21 21:42] fpvandoorn opened #89 "sections and local attributes"
The tutorial uses a the `section` command a lot. Is this because previously all `variables` had to occur inside a `section`? Currently, you almost never need sections if you don't use `parameters`. Only if you want that your `variables` are unavailable later in the file, section is useful.

Do we want to change this?

Secondly: in chapter 5 and 8, it is wrongly states that the `local attribute` la

[2015-04-21 22:02] fpvandoorn commented on #89
Okay, I'm confusing myself. I *think* that local attributes and notation last until the end of the namespace, and can persist past the end of a section (not past the end of a context, of course). Is that right?

[2015-04-22 21:55] fpvandoorn commented on #87
Thanks for reporting! I fixed all the issues in the pull requests above.

[2015-04-22 22:00] fpvandoorn commented on #89
For future reference: the behavior has been changed just after the previous comments. The current behavior is that local meta-information survives till the nearest enclosing namespace or section is closed (or till the end of the file if neither of the above apply).

The first issue still stands. I think we shouldn't mention the `section` command until chapter 8. Section has hardly any uses if you

[2015-04-22 22:03] #87 closed

[2015-04-22 22:21] leodemoura commented on #89
@fpvandoorn we also use `section`s for limiting the scope of an `open` command, the scope of a local attribute, local notation, etc.

I like your changes in chapter 5. You described precisely the scope of  the `local` command. If we only explain `section` in chapter 8, we will have to provide an approximate explanation for `local`, right?

[2015-04-22 22:34] fpvandoorn commented on #89
Those are indeed also good uses for `section`. It's rare that you need to do one of those things, though.

Yes, if we explain section only in chapter 8, we probably shouldn't mention sections when describing the `local` command. That might be a problem for people who don't read the tutorial from a-z, but instead search it for specific information (which is probably almost everyone). We could still

[2015-04-23 16:43] fpvandoorn opened #92 "{} vs {{}} vs ⦃⦄"
We should explain the difference between `{}` and `{{}}` and `⦃⦄`. I think section 2.8 (`Implicit Arguments`) is to early, but maybe we can add a new section in chapter 5 or 8 (`More on Implicit Arguments`?). There we can also briefly mention `[]` (with a forward reference to chapter 9) and explain `!foo`, which is currently unexplained, I believe (The only mention seems to be the sentence "Rememb

[2015-04-23 17:11] leodemoura commented on #92
That would be great!

[2015-04-23 17:11] leodemoura commented on #89
It sounds great!

[2015-04-23 21:09] fpvandoorn opened #93 "examples incorrectly sized in firefox"
In Firefox some "Try it yourself" examples have a last line missing. Instead the examples are scrollable, and you can either see everything but the last line, or everything but the first line.

The screenshot below illustrates this. The top example on the left misses the last line (line 14 on the right). The bottom example misses the first line, since I scrolled down in that frame.

(In Chrome eve

[2015-04-23 21:14] leodemoura commented on #93
I managed to reproduce the problem.
It depends on the window size and on the font size.
For example, for me, everything works fine when the firefox window is maximized.

[2015-04-23 21:16] soonhokong commented on #93
@leodemoura and @fpvandoorn, I can reproduce the problem as well. I'm on it now.

[2015-04-23 22:27] #93 closed

[2015-04-24 01:47] avigad commented on #92
I agree. As to where to put it, I am not sure.

I try to imagine a reader working through the tutorial, starting with chapter 1, and learning to use the system. Too much technical information early on will overwhelm them, but we want them to have the information when it is useful.

In this case, either chapter 5 or 8 seems fine.

[2015-04-24 01:51] avigad commented on #89
One day we will have a reference manual which will make it easier to look up details, but for now, the tutorial has to serve that purpose.

We can add cross-chapter links if that helps. There are some examples of that in Chapters 5 and 8. That makes it possible to add a sentence like "Later we will discuss Lean's section mechanism, and local definitions; see Section ..." or "Recall that in Section

[2015-04-24 14:49] #92 closed

[2015-04-27 18:02] htzh opened #95 "find_decl hangs the web prover"
If one runs the following example from chapter 5:
[code]
the prover just hangs. Furthermore no other example will run afterwards. I need to refresh to restart lean.js. This happens both on Chrome and Firefox. I checked that find_decl works on my local native emacs/lean installation so this appears to be an issue for the web version only.
This is with the newest build of the web version after https

[2015-04-27 19:00] leodemoura commented on #95
@soonhokong The problem is that the web version is running out of memory.
The example works if we use `?mem=64`.
In the past, we used to get an error message for "out of memory", this is not the case anymore.
It is also not clear to users how to increase the amount of memory.
The easy fix is to put the error message back and say something like "the memory can be increased by appending the option ?

[2015-04-27 19:22] soonhokong opened #96 "report an error when there is a memory problem"
@leodemoura wrote in https://github.com/leanprover/tutorial/issues/95#issuecomment-96780115:

[2015-04-27 19:22] soonhokong commented on #95
@leodemoura, thanks for fixing this. I'll fix #96.

[2015-04-27 19:22] #95 closed

[2015-04-30 06:20] htzh opened #98 "How does one prove function equivalence under beta reduction?"
I am trying to do a little group theory but I am pretty stumped by beta equivalence:
[code]
Lean kept the goal in the form of
[code]
If I understand it correctly, beta equivalence is supposed to be opaque, so I can't reach inside the lambda terms. So is rewrite the only way to prove this? What if Lean can't match the rewrite pattern?

[2015-04-30 07:02] htzh commented on #98
I figured it out using calc:
[code]
but I am still pretty confused about this and the tactic style. It is nice in tactic style I get some feedback on what the goal is.

[2015-04-30 07:19] fpvandoorn commented on #98
I'm not sure what you mean with "beta equivalence is supposed to be opaque". You can indeed not rewrite inside lambda terms. However, you can unfold set membership `mem`, and after that you can use rewrite. You can unfold a definition in the goal by the tactic `esimp [mem]` or `rewrite ↑mem` (you can input `↑` using `\u`). Also: rewrite doesn't unfold definitions by itself: so you have to unfold `

[2015-04-30 07:21] fpvandoorn commented on #98
Note: the following workaround does work:
[code]

[2015-04-30 07:31] fpvandoorn commented on #98
Also: your `calc` proof does work if you replace `inv_mul_cancel_right` by `{inv_mul_cancel_right x a⁻¹}`.

[2015-04-30 07:37] htzh commented on #98
Thanks. I was very confused by the type error and couldn't figure out what is to be done. Could you explain the difference?

I was thinking that a lambda term could be kept in any of the various beta equivalent forms and there is no way to force it to be in a form so that some specific pattern matching can be achieved.

[2015-04-30 07:42] htzh commented on #98
This works too. So the intermediate beta equivalent terms were superfluous?
[code]

[2015-04-30 07:55] fpvandoorn commented on #98
If you write
[code]
Then the calc environment will try the following rewrite steps in order, until it finds one which succeeds (and also inserting arguments if necessary):
`foo`, `foo⁻¹`, `{foo}`, `{foo⁻¹}`
(here `⁻¹` means symmetry and `{ ... }` means apply the equality to a subterm)
The problem is that the first step does not fail right away: if `Prop` were a group itself, then maybe the *whole*

[2015-04-30 16:10] htzh commented on #98
Thanks, @fpvandoorn! Your comments greatly clarified things for me. I will close the issue now but your comments definitely belong in the tutorial somewhere.

[2015-04-30 16:10] #98 closed

[2015-04-30 16:17] htzh commented on #98
Do you want to open an issue for this in ```Lean``` itself? I don't know if Leo saw the message.

[2015-04-30 17:07] leodemoura commented on #98
@fpvandoorn Could you please post a self-contained example (that produces the error) in the lean repository?

Thanks

BTW, this is a new error message, it has been introduced to cope with issue https://github.com/leanprover/lean/issues/550
We can try to produce a better error message, or investigate whether this is a spurious one (i.e., the rewrite step should be accepted).

[2015-05-01 04:53] htzh opened #99 "Can structure type parameter be a variable or a lambda redex?"
I have trouble type checking the following:
[code]
In Emacs I just get a mysterious ```fuction expected at ?M_1```. I don't know if this is because I am not matching the type signature of map or in general lambda redexes can not be used to parameterize structures.

Also is the {| |} notation the only way to explicitly instantiate the type parameters for structures?

[2015-05-01 05:08] fpvandoorn commented on #99
I think you misunderstand the `{{}}` notation. They are a special kind of implicit arguments, similar to `{}`. See section "8.2 More on Implicit Arguments" in the tutorial about them. (this section was added recently). If I replace `{{H a}}` in your file by `(H a)`, then your file compiles.

The error message is indeed not very helpful. The problem was what you applied `lmul_maps_to_lcoset` to arg

[2015-05-01 06:15] htzh commented on #99
I see. Thanks! The following appears to work as well (without removing {{}}):
[code]
Another previous question of mine should be edited to read:
[code]
I think the answer is that the mk function can be used as well.

[2015-05-01 06:15] #99 closed

[2015-05-02 01:33] htzh opened #100 "exists.elim in tactics mode"
I can use ```obtain _ _, from _``` outside of tactics mode, but I can't figure out how to use it inside. If I don't use tactics I don't know how to force expansion of definitions. Also I have no feedback on what the current context and goal look like. Once inside tactics it seems really hard to introduce new intermediate facts into the context. The particular case I am stuck on is
[code]

[2015-05-02 01:53] htzh commented on #100
I made some progress, but it still doesn't type check at ```show```. I manage to get some feedback by inserting spurious ```begin end``` pair. But once I am inside ```exists.intro``` I can no longer tell what is expected.
[code]

[2015-05-02 01:58] htzh commented on #100
By removing the spurious ```begin end``` it seemed able to type check at ```show```. Why is it illegal to have an empty pair? It is rather painful to try to get good feedback -- seems like it would be nice to have the emacs mode behave like as if there is always a ```begin end``` pair at the point (or something like that) to show the current context and goal.

[2015-05-02 02:16] htzh commented on #100
It finally type checked but it certainly would have helped to get more feedback in the process:
[code]

[2015-05-02 03:08] htzh commented on #100
I cleaned up with better indentation and more type annotation. Maybe this can be added to data.set.function in the library. There seems to be another track of developing theories of image using subtype.
[code]
Once it type checks I seem to get more type information clicking on symbols but it is still not consistent. For example the Hx in the first iff branch does not get any type information in Em

[2015-05-02 15:02] #100 closed

[2015-05-02 23:37] fpvandoorn commented on #100
Do you know that if you write a term with underscores, then you can see the expected type of those underscores by hovering over them (in Emacs) or compiling your file? So if I write a proof in declarative style (no tactics), I do so incrementally. For example, first
[code]
then
[code]
and so on.

This gives very similar feedback as tactic proofs: hovering over the underscores gives the current "go

[2015-05-03 10:05] avigad commented on #100
Dear Haitao,

Thanks for the proof! I will add it to the library. I revised it a little to make it more readable:
[code]

Some notes:

- if you say ```namespace set``` then ```open set``` is not needed.
- an equivalent form of ```rewrite [↑compose, ↑image, ↑set_of, ↑mem]``` is ```esimp [compose, image, set_of, mem]```
- in fact, these are not needed in the proof above (the unifier unfolds the defi

[2015-05-03 17:14] htzh commented on #100
@fpvandoorn Thanks for the very detailed explanations. I have used the underscore trick before but it seems most of the time I get the "can't synthesize placeholder" error. It is possible I had other type errors that prevented the feedback. I will give it more practice. I like to use the declarative style if I can. Thanks for showing me ```cases```. I also discovered ```match ... with ...``` which

[2015-05-03 20:44] fpvandoorn commented on #100
When you get such a "can't synthesize placeholder" error, the error should display the type and context of that placeholder.

Yes, match-with is similar to the `cases` tactic.

[2015-05-04 04:37] htzh opened #101 "Should one base finite group theory on fintype or finset or neither?"
There seems to be at least three choices:
1. Base off unrestricted type and standard sets. Every finite group is a subgroup. One has to get to finiteness and cardinality somehow using a bijection.
2. Base off fintype and standard sets. One gets a whole group but expanding it may be troublesome?
3. Base off unrestricted type and finset. Maybe same as 1 but use the finset to establish finiteness.

[2015-05-04 11:35] avigad commented on #101
Coincidentally, I have been thinking about this a lot over the last few days. We want to have both constructive and classical theories of finite groups, and constructive and classical theories about arbitrary groups, and they should all fit together reasonably and avoid duplication as much as possible.

Some duplication is unavoidable. Many set-theoretic operations are mirrored on finset, but from

[2015-05-04 14:52] leodemoura commented on #101
Dear Hintao,

Thanks for trying Lean, and providing valuable feedback.
This is very helpful for us since Lean is a new system.
I'd like to emphasize that Lean is an open source project, and contributions are very welcome.
There are many ways to contribute: finding problems, fixing typos, asking questions, implementing examples, writing documentation, implementing the support libraries (standard an

[2015-05-04 18:56] htzh commented on #101
@avigad, thanks for sharing your thoughts on the subject. You give me a lot of food for thought and it will take me while to digest it all.

I would like to first prove Sylow theorems using Lean. First I need to get to Lagrange, then I would like to take the route of Orbit Stabilizer theorem and then Cauchy. I am working on cosets and subgroups based on sets and that feels fairly comfortable so fa

[2015-05-04 23:27] htzh commented on #101
In Chapter 8 of the tutorial it is stated that:

Does this mean that I can't coerce to set unless I wrap set in a structure? I was hoping that I can package up the subgroup in a structure that includes the underlying set and have it coerced to set automatically when set is expected.

[2015-05-05 00:17] leodemoura commented on #101
This restriction will be remove as soon as we close the following issue:
https://github.com/leanprover/lean/issues/547

[2015-05-05 00:40] htzh commented on #101
Could you say a few words about your interests and plans?
If you prefer, feel free to send an email to Jeremy and me.

Dear Leo,
Just in case my email did not make through your spam filter, I did PM you and @avigad earlier. You should have my email address now. Let me know if you need more information.

[2015-05-08 05:18] #101 closed

[2015-05-08 05:22] htzh opened #102 "trying to understand Prop definition"
I had first defined certain properties like:
[code]
Now I am trying to package it into a class for inference
[code]
When I tried to create a lemma as a bridge to be compatible with what I had before:
[code]
Lean complained about:
[code]
Putting on ```local attribute mul_closed_on [reducible]``` didn't help.

[2015-05-08 05:35] htzh commented on #102
Okay I see a problem I had, by using ```!``` I had forced the instantiation of variables, by removing ```!``` I now have:
[code]

[2015-05-08 05:43] htzh commented on #102
Okay explicit instantiation seems to work:
[code]

[2015-05-08 05:43] #102 closed

[2015-05-08 21:21] fpvandoorn commented on #102
Some remarks:

* Taking the following (equivalent) definition is probably easier to work with
[code]
* If you just want to define a shorter name for something, the following works if you don't have included variables (you can `omit` them)
[code]
* You can the following command to see which arguments are implicit and which are explicit.
[code]

[2015-05-09 00:12] htzh commented on #102
I want to refer to the same definition in multiple places, which is why I gave it a name. I think the problem is that I used it in different ways. In the section before the structure is defined I had H explicitly stated to avoid confusion. Afterwards in new sections I want to always refer to an instantiated instance of H. The full code is now up at https://github.com/htzh/leanproved/tree/master/gr

[2015-05-09 06:28] avigad commented on #102
In dependent type theory, the common convention is to use the curried form almost all the time. It is generally easier to write ```foo H1H2``` than ```foo (and.intro H1 H2)```, it works better with partial application, and this way you don't have to think about which form was chosen.

[2015-05-09 06:56] htzh commented on #102
Okay I will refactor the code. It should only be changes in a few places.

On Fri, May 8, 2015 at 11:28 PM, Jeremy Avigad <notifications@github.com>
wrote:

[2015-05-09 11:57] artella-coding opened #103 "Feature request : allow printing in console"
Hi, if I paste the following code

    import data.nat
    open nat

    eval 2 + 3

into the console at https://leanprover.github.io/tutorial/index.html and click the compile button, nothing is printed out. I just get :

    -- Processing...
    -- Saved at cookie.
    -- Done(0.784sec)

Would it be possible to have the results of `eval` printed out in the console? Thanks

[2015-05-09 13:25] avigad commented on #103
When you click the compile button, you should see a small "i" appear next to the line number for the eval. If you hover over that "I", you can see the output.

Is that sufficient for you?

[2015-05-09 13:42] artella-coding commented on #103
@avigad Fantastic thanks, yes that is good enough for me.

[2015-05-09 14:35] leodemoura commented on #103
BTW, if the output is big, then "i" hover text is not very useful.
The problem is that the "balloon" does not fit in the screen.
This is recurrent issue when I'm making demos :-(
Here is a simple problematic example
[code]

[2015-05-09 14:45] artella-coding commented on #103
@avigad Hi, reopening the feature request following the comment by @leodemoura . Maybe an alternative would be to have the "i" output scrollable. Thanks

[2015-05-09 15:20] soonhokong commented on #103
I think we need to have a setting pane (with an icon something like [this](https://thenounproject.com/term/setting/102532)) which allows us to set options. It should include at least the two things (and more):

 - Memory Size : int (64MB is default)
 - Output to Console : bool

We should save the changes in the cookie not to repeat setting things up. I will implement them when I have some time. Pl

[2015-05-09 16:38] artella-coding commented on #103
@soonhokong Hi, that sounds like an excellent idea. Thanks

[2015-05-09 18:42] artella-coding commented on #103
@soonhokong An additional option that might be useful : word wrap (or alternatively horizontal scroll on command window)

For me `check (λ(Q R S : Type) (v : R → S) (u : Q → R) (x : Q), v (u x)) A B C g f a` goes off the screen

Thanks

[2015-05-14 17:01] htzh commented on #103
Another thing about only showing output in a floating "balloon" is that it is hard (impossible?) to copy and paste from it.

[2015-05-15 00:18] htzh opened #104 "How to get hold of subterms deep inside a Prop?"
I would like to prove the following:
[code]
After esimp the goal is now:
[code]
I can use true_imp
[code]
Is there a way to do it without manually breaking down the structure (with propext, iff.intro, assume ......)?

[2015-05-15 00:53] htzh commented on #104
This works:
[code]
I am wondering if there is a better way.

[2015-05-15 01:17] leodemoura commented on #104
Here is a smaller one:
[code]

BTW, I've just implemented an extension that uses `propext` automatically in the `rewrite` tactic. That is, it will allow us to write `rewrite true_imp` instead of `rewrite (propext !true_imp)`. I will push as soon as I finish testing it.

This kind of problem will be perfect for the bottom-up simplifier that will have in Lean. This simplifier automatically applies `

[2015-05-15 01:38] leodemoura commented on #104
I pushed the new feature.
Here is the new version for the lemma above
https://github.com/leanprover/lean/blob/master/tests/lean/run/tut_104.lean#L41-L48

[2015-05-15 01:42] htzh commented on #104
Great! Good to learn ```repeat (apply forall_congr; intros)``` too. Thanks!

[2015-05-15 01:42] #104 closed

[2015-05-15 07:38] htzh opened #105 "Why is this accepted as correct or how does rewrite know about assoc laws?"
This piece of rewrite seems like magic. I am happy with the result but I am hoping it is not too good to be true https://github.com/htzh/leanproved/blob/master/group_theory/action.lean#L7-L18 :
[code]
I checked that Linja compiled too just in case Emacs wasn't telling me the truth. It was a surprise because I expected to do more. Actually I wasn't even quite sure how to go about it if I had to do

[2015-05-15 07:57] leodemoura commented on #105
The proof holds by reflexivity. We can replace `begin rewrite ... end` with `rfl`.
That is, if we normalize the left and right hand sides we get the same term. For example, the normal forms for
[code]
are the same
[code]
I didn't check your definition of `bijection_compose`, but it should also hold.

[code]

It depends. Sometimes, they are readable, but some information is lost. Example: `calc` pr

[2015-05-15 07:58] avigad commented on #105
I believe the proof. The two functions are definitionally equal, and then the propositional parts are equal "for free" by proof irrelevance.

You are right, though, that in general we are not so lucky, and proving the equality of two structures is a pain in the neck. We still need to write something about this in the tutorial. But in the meanwhile, there is a discussion of it in this issue:

  htt

[2015-05-15 07:59] leodemoura commented on #105
In the future, it would be nice to have a better pretty printer for automatically generated proofs and proofs generated using tactics. Some ideas:
- Break/present the proof in steps using `have` & `show`
- Display transitivity chains using `calc`

[2015-05-15 08:02] leodemoura commented on #105
Other ideas:
- present a sequence of nested `cases_on` eliminators using `match ... with ... end`.

[2015-05-15 17:42] htzh commented on #105
@avigad @leodemoura Thanks for patiently explaining all the finer details.
[code]
Presumably Lean didn't go inside bijective_compose (and it should be opaque any way). So I assume this is what @avigad means:

[2015-05-15 21:16] #105 closed

[2015-05-15 23:30] htzh commented on #105
However when I continued on with:
[code]
I got this:
[code]
Does this look like a bug?

[2015-05-15 23:53] avigad commented on #105
This is the more difficult case of showing that two structures are equal, as discussed in #550. The problem is that the type of the later elements of the structure depend on the first component, and when you rewrite a part of an expression the result may no longer type check. The solution is roughly to suitably generalize that claim that you are trying to prove so that types don't break, or use au

[2015-05-16 00:13] htzh commented on #105
Thanks for referencing https://github.com/leanprover/lean/issues/550 . I think I can figure it out following the explanation there. The code is online but I may be revising the structure shortly. I am stilling trying to figure out the right definitions to work with.

[2015-05-16 05:21] htzh commented on #105
I tried many ways but mostly had trouble with bindings. Finally I got down to basics and this worked:
[code]
I am still trying to get the difference between this and the assoc case. They seem rather similar to me.

[2015-05-28 09:26] soonhokong opened #107 "add index in PDF"

[2015-05-28 09:27] soonhokong opened #108 "add index in WWW"

[2015-05-28 09:28] soonhokong opened #109 "reference page with editor key bindings for unicode symbols"

[2015-05-28 09:29] soonhokong opened #110 "add lean_text source type"
[code]

for things that should be *typeset* as Lean, but without the button to run it in the editor

[2015-05-28 11:59] #107 closed

[2015-05-28 12:01] soonhokong commented on #107
Dear @avigad,

I added the requested feature. You can use the same LaTeX syntax to index words (`\index{key}`) in org-mode. Here is an example:

[code]

![screen shot 2015-05-28 at 7 58 11 am](https://cloud.githubusercontent.com/assets/403281/7859493/98ca3fb2-050f-11e5-9f71-b919eb9c519e.png)

[2015-05-28 12:06] soonhokong opened #111 "pygments need updates for chapter 12"
![screen shot 2015-05-28 at 8 05 38 am](https://cloud.githubusercontent.com/assets/403281/7859590/786d38c2-0510-11e5-952e-d8870d3f173a.png)
![screen shot 2015-05-28 at 8 05 42 am](https://cloud.githubusercontent.com/assets/403281/7859592/78777080-0510-11e5-9fe4-db33824e5479.png)
![screen shot 2015-05-28 at 8 05 27 am](https://cloud.githubusercontent.com/assets/403281/7859591/7875de00-0510-11e5-8b1

[2015-06-10 11:59] rlewis1988 opened #113 "In-browser version of Lean fails to show error on bad tactic proof"
A minor bug that I came across while looking something up in the tutorial.

The following proof is clearly wrong:
[code]

In emacs, Lean identifies the error. The in-browser version just gives the following output without highlighting any errors:

    -- Processing...
    -- Saved at cookie.

The problem seems to be with the compound tactic.

[2015-06-10 19:23] soonhokong commented on #113
It actually outputs the following error message to Javascript Console:

[code]

[2015-06-13 18:26] leodemoura commented on #113
The `lean.js` has not been updated in a while. I will update it asap.

[2015-06-16 01:20] avigad opened #117 "unexpected behavior from "print" command"
In the online tutorial, the following:

[code]

yields the following information:

[code]

What is the spurious `is_typeof`?

Also, should the `reveal` command work in the tutorial? A user reports that on Firefox, he gets "unknown identifier 'reveal'". When I do it, "reveal" is syntax highlighted, but I get "error: command expected".

[2015-06-16 04:05] avigad commented on #117
Other strange things are going on. In emacs, `print not.intro` yields
[code]
But in the tutorial, we get
[code]

[2015-06-16 07:37] fpvandoorn commented on #117
It seems the tutorial is using and old version of Lean + the Lean library. The `is_typeof` is explained if it isn't updated after this commit: https://github.com/leanprover/lean/commit/8056f326d7b32e7f869648e8a9f227e1fa82a072

The fact that the tutorial prints `not.intro` as `axiom` is explained here: https://github.com/leanprover/lean/issues/576#issuecomment-100399156:

[code]
on the web version,

[2015-06-16 13:51] leodemoura commented on #117
@fpvandoorn The following commit addresses the `print` issue. I will update the web version today.
https://github.com/leanprover/lean/commit/8a85e4ee875b603faa0293fc58a7cef0934c6a16
Example
[code]
produces
[code]

[2015-06-16 16:32] fpvandoorn commented on #117
Does that commit also make the output better for theorems proven in the standard library? So what will be output of `print not.intro` be?

[2015-06-16 16:55] leodemoura commented on #117
In the web version, we discard the proofs of all theorems to save space.
We should produce a better message in this case. Something like:
[code]

[2015-06-16 16:57] leodemoura commented on #117
Another option is to have a flag whether we say whether the theorems should be discarded or not.

[2015-06-16 17:30] fpvandoorn commented on #117
theorem not.intro : ∀ {a : Prop}, (a → false) → ¬a
In the web interface, the definition of theorems is discarded to save memory.
Use the native lean binary to access the definition.
[code]

[2015-06-16 22:35] leodemoura commented on #113
I updated `lean.js`, and it is still failing.
I tried the native binary, and everything works with different settings.
I also compiled everything locally using `--to_axiom`, and did not find any problems.
I also tried to execute the native binary using valgrind, and got 0 errors.
I don't know what to do. This is a serious issue. It seems to affect many tactics.
Here is a smaller problematic exampl

[2015-06-16 22:38] soonhokong commented on #113
Dear Leo,

I will take a look at it after dinner.

Best,
Soonho

On Tuesday, June 16, 2015, Leonardo de Moura <notifications@github.com>
wrote:

--

Best,
Soonho

[2015-06-16 22:39] leodemoura commented on #113
Thanks!

[2015-06-17 14:51] leodemoura commented on #113
@soonhokong Any news?
I'm worried about this issue because of the tutorial at CADE.

[2015-06-17 14:57] soonhokong commented on #113
I was working on it last night. I had a problem compiling gmp with the latest version of emscripten SDK (known problem for 64-bit machines, but it worked before on a 32-bit machine). I think I figure out how to fix it. I'll keep you posted.

[2015-06-17 14:58] leodemoura commented on #113
This is great news! What is the problem?

[2015-06-17 15:00] soonhokong commented on #113
GMP checks whether a compiler supports `long long` or not by compiling a test code. I think there is a problem in the test code that they're using and it failed because of the code.

[2015-06-17 15:01] leodemoura commented on #113
I see, you fixed the GMP problem...
I thought you had found the problem with the web version.

[2015-06-17 15:01] soonhokong commented on #113
Anyway, I'll first compile Lean.js using a 32-bit VM machine (after fixing the above issue), then fix the original issue (which generated the JS stack trace that I mentioned above).

[2015-06-17 15:02] soonhokong commented on #113
Sorry.. not yet :-(

[2015-06-18 00:03] soonhokong commented on #113
@rlewis1988, I've made some updates. Could you check the two examples again on your machine?

[2015-06-18 00:15] rlewis1988 commented on #113
This seems to have fixed it! Although, the error message is a little funky:
![screen shot 2015-06-18 at 10 13 20 am](https://cloud.githubusercontent.com/assets/4967469/8221502/cff03534-15a2-11e5-88c9-0c2fb17c5a8a.png)

[2015-06-18 00:26] soonhokong commented on #113
@rlewis1988, I see. I do have the same message.

[2015-06-18 05:58] rlewis1988 opened #120 "More divergent behavior between browser and emacs"
I was trying a few toy examples in-browser while putting together slides, and found the following:
[code]
This code behaves properly in emacs. The tutorial version of Lean gives the error "unreachable code was reached." That sounds bad!

[2015-06-18 06:02] rlewis1988 commented on #120
Addendum: changing `check foo.c1` to `check nat` produces the same result.

[2015-06-18 06:06] soonhokong commented on #120
Thanks for the report. It looks really bad. I'll take care of it soon.

[2015-06-18 06:07] leodemoura commented on #120
It seems any `check` command produces the error.

[2015-06-18 19:43] leodemoura commented on #120
@soonhokong Here is the followup of our email exchange this morning.
I'm writing it here just to have record the "fix".

1- The problem has been fixed. I retracted a recent change to `format.cpp`.
https://github.com/leanprover/lean/commit/694eef7f6a2511d154c3d2172110b965c5a3d5aa
It is unclear why it affects `lean.js`, but it doesn't affect the native binary.
Valgrind does not report any memory cor

[2015-06-18 20:27] soonhokong commented on #120
Thank you, Leo.

I also tested the C++ binary with valgrind but couldn't find anything special. I'll add a script to test `lean.js` over testcode in the tutorial. I think we can do it using nodejs.

[2015-06-18 20:53] leodemoura commented on #120
Thanks!

[2015-06-21 15:01] soonhokong commented on #120
I think we resolved this issue thanks to @leodemoura's commits. I also added the test on Travis.

[2015-06-21 15:01] #120 closed

[2015-06-21 15:01] #113 closed

[2015-07-29 15:54] soonhokong opened #123 "error in chapter 8"
@avigad  and @leodemoura, we have at least one error in the tutorial. Could you check?

[code]

[2015-07-29 16:35] avigad commented on #123
This is fixed in my pull request:

https://github.com/leanprover/tutorial/pull/122/files

I tested everything, so it should be o.k.

[2015-07-29 16:38] soonhokong commented on #123
Thanks. It's just merged.

[2015-07-29 16:38] #123 closed

[2015-07-29 22:54] #83 closed

[2015-07-29 22:54] soonhokong commented on #83
By https://github.com/leanprover/ace/commit/820ebce9649b6f84ef6504d7220d03cb5c5e80cd

[2015-07-30 00:06] soonhokong commented on #111
Fixed.

[2015-07-30 00:06] #111 closed

[2015-07-30 00:45] soonhokong commented on #109
https://leanprover.github.io/tutorial/A1_Quick_Reference.html

[2015-07-30 00:45] #109 closed

[2015-07-30 00:46] #108 closed

[2015-07-30 01:03] #110 closed

[2015-07-30 19:43] soonhokong opened #126 "deploy script"

[2015-07-30 19:43] #126 closed

[2015-07-31 00:01] soonhokong commented on #39
It doesn't help. What we need is a [HTML5 web worker](http://www.html5rocks.com/en/tutorials/workers/basics).

[2015-07-31 00:01] #39 closed

[2015-07-31 04:43] soonhokong commented on #103
Now there is a setting pane where you can set this as an option.

[2015-07-31 04:43] #103 closed

[2015-07-31 11:58] avigad commented on #110
@soonhokong The `test.sh` script in the tutorial directory tries to execute this code, and fails. Can `test.sh` be modified to ignore `lean_text`?

[2015-07-31 15:40] soonhokong opened #129 "ignore lean_text in test.sh"
@avigad wrote in https://github.com/leanprover/tutorial/issues/110#issuecomment-126668279

[2015-08-07 02:35] #129 closed

[2015-08-10 06:03] #96 closed

[2015-08-10 06:04] soonhokong commented on #96
Use `-s ALLOW_MEMORY_GROWTH=1`. Reference: https://kripken.github.io/emscripten-site/docs/optimizing/Optimizing-Code.html#memory-growth

[2015-08-17 20:08] soonhokong opened #137 "some test failures"
Chapter 03
---------------

[code]

Chapter 04
---------------

[code]

I think they're due to the recent migration from `logic.choice` to `init.classical`. It's also the case that `import classical` is not working anymore.

Chapter 9
--------------
[code]

Chapter 12
---------------

[code]

Chapter 13
---------------

[code]

[2015-08-17 20:10] leodemoura commented on #137
I will fix them.

[2015-08-17 20:10] soonhokong commented on #137
@avigad, could you take a look at this one when you have some time? I fixed some problems by 0c5f6178706b471d8cf60d57b145546f284a986a. But I think the remaining ones can be fixed better by you because some of them need changes in tutorial text as well.

[2015-08-17 20:10] soonhokong commented on #137
@leodemoura, thank you!

[2015-08-17 20:19] avigad commented on #137
At least one change is my fault. @leodemoura I will be happy to fix these tonight if you would like. Just let me know, so we do not do it both at once.

[2015-08-17 20:22] leodemoura commented on #137
I'm almost done. Most of the changes are due to the new "noncomputable" keyword, and moving "classical" to the init folder.

[2015-08-17 20:31] #137 closed

[2015-08-18 02:18] soonhokong opened #138 "use of theories.number_theory.primes in tutorial"
@leodemoura and @avigad, we've decided not to include `theories` directory in library to reduce the size of `lean.js`. However, at the end of [chapter 4](https://github.com/leanprover/tutorial/blob/master/04_Quantifiers_and_Equality.org), we're using `theories.number_theory.primes`, which causes a problem.

We can either include `theories` back to `lean.js` or modify the part in chapter 4 not to u

[2015-08-18 02:25] avigad commented on #138
Ah, I see. I included that proof because it is a nice illustration of the proof language. It does not seem to me to be worth it to include all of `theories` just for that example, though.

Some options:
- move primes to data.nat. (I am not crazy about that; I think it is most natural in theories\number_theory.)
- include only theories.number_theory.primes
- declare the necessary facts as axioms in

[2015-08-18 02:40] leodemoura commented on #138
@soonhokong and @avigad There is another motivation for not having `primes.lean` in the web version.
The file does not compile after we erase the proofs. We use `dec_trivial` in a few places. Here is an example:
https://github.com/leanprover/lean/blob/master/library/theories/number_theory/primes.lean#L52

`primes` decidability depends on well founded recursion, and we need proofs for them to compu

[2015-08-18 02:44] soonhokong commented on #138
Right..

@avigad, let me first comment out the last paragraph of chapter 4 and the following lean code block. When you re-visit chapter 4, please feel free to revise them or delete them.

[2015-08-18 02:50] #138 closed

[2015-08-18 02:53] avigad commented on #138
Sounds good. I'll think about how to replace it.

[2015-09-21 12:47] asmyers opened #142 "Add texlive-luatex package to install list."
The readme for the tutorial has a `apt-get install` command with a list of build dependencies.  However, `luainputenc.sty` from the `texlive-luatex` package is missing which results in a failed build.  I'm on Ubuntu 15.05.

[2015-09-21 15:47] #142 closed

[2015-09-21 15:47] soonhokong commented on #142
@asmyers, thank you!

[2015-11-24 23:49] fpvandoorn opened #149 "print output to console by default"
I think we should print the output to the console by default.

I spent the last hour trying to figure out how to do this, but I failed, because I don't know any javascript, and could only figure out so much in an hour.

Here is my best attempt: 85619439b0ce2611db7a2b1cfc19a0c78f270d6c. I tried to invert the meaning of the cookie, because an non-existing cookie is interpreted as `false`. But after

[2015-11-24 23:53] soonhokong commented on #149
No problem.

[2015-11-25 00:11] fpvandoorn commented on #149
Thanks!

Basic javascript question: in the line
[code]
`||` is just the boolean `or`, right? So basically now you ignore the value of the cookie?

[2015-11-25 00:18] soonhokong commented on #149
Right.

No. It's using short-circuit semantics of `||`. When a user is not set the value of `leanjs_print_output_to_console`, we have `$.cookie("leanjs_print_output_to_console") = undefined` which is interpreted as `false`. Then the whole expression gives `true`.

However, when the value of the cookie `leanjs_print_output_to_consloe` is set, it returns either `"true"` or `"false"`. Note that both

[2015-11-25 00:54] fpvandoorn commented on #149
Ah, that makes sense (but I would have never guessed it myself). Thanks for the explanation. If you don't mind a follow-up question: do you mean
* `"true" || true` => `"true"`
* `"false" || true` => `"false"`
* `undefined || true` => `true`

or am I still misunderstanding it?

[2015-11-25 01:00] soonhokong commented on #149
That's what I meant (I updated my comment after I posted it).

In short, the following is the case

[2015-11-25 01:04] soonhokong commented on #149
FYI, another interesting example which shows the oddity of JS is https://dorey.github.io/JavaScript-Equality-Table . It should be the case that only the diagonal elements are **green**. But in the world of JS, it's not the case..

[2015-11-25 01:06] fpvandoorn commented on #149
Thanks! and LOL!

[2015-11-25 01:21] fpvandoorn commented on #149
I "like" how `==` is not transitive and `a==b` doesn't imply that `if(a)` and `if(b)` do the same thing.

One last question: If the value of `print_output_to_console` is `"false"`, doesn't that mess up the test

`if (myModule.print_output_to_console)`

because `"false"` is coerced to `true`? This looks like what is happening: if I set the option to false and refresh the page, then the value is sti

[2015-11-25 01:37] soonhokong commented on #149
I see. I'll check it.

[2015-11-25 07:07] #149 closed

[2015-11-25 07:11] soonhokong commented on #149
@fpvandoorn: when a JS value is saved into cookie, its string representation is saved. As a result, we may have two choices for the type of `myModule.print_output_to_console` -- either `string` or `boolean`. I think it's better to keep it as `boolean`. To do so, when we load a cookie value for `print_output_to_console`, we cast a loaded value (: `string`) into `boolean`. See e7658c4.

[2016-01-11 16:27] awf opened #154 "5.7 Coercions"
says "a special datatype known as num", and I believe there's an implication that this will be printed as `num`:
[code]
but in fact I see (in today's https://leanprover.github.io/tutorial)
[code]

[2016-01-12 02:14] avigad commented on #154
@awf Thanks! You are right, this is no longer correct. Numerals are now interpreted directly in any type that has a zero, one, and addition. I have repaired the example and issued a pull request.

There are likely other parts of the tutorial that are not fully up to date. We'll eventually do a full overhaul. In the meanwhile, reports like this are very helpful.

[2016-01-12 08:26] #154 closed

[2016-01-19 09:20] spl opened #157 "Does ¬(p ↔ ¬p) need classical logic?"
In Section 3.6 (“Examples of Propositional Validities”), I found that I needed the excluded middle (`em`) for the following exercise:

[code]

Is it possible to do this proof without `em`, or should this be moved under the following comment?

[code]

[2016-01-19 14:18] fpvandoorn commented on #157
Yes, this is constructively valid. Here is a constructive proof:
[code]

[2016-01-19 17:25] spl commented on #157
Awesome. I see that I got stuck on the recursiveness of the proof. Thanks!

[2016-01-19 17:25] #157 closed

[2016-01-24 14:56] spl opened #160 "Write Section 4.4 The Simplifier"
There is a TODO (989421d6c2c3b5c75878c6f4847eaebc87ba110e on Dec 8, 2014) for this:

But since there is no GitHub issue, I thought one should be added to track the matter.

[2016-01-27 14:22] spl opened #162 "Confusing text on “suppose” vs. “assume” in Section 4.6"
I found the following text rather confusing in Section 4.6 More on the Proof Language:

First, it wasn't clear what “this” was referring to in the first sentence. Only later did I realize that it was referring to the _following_ example code (I think). If so, then that fact should be made more clear, since “this” usually refers to something already referenced.

Second, I don't understand how `assu

[2016-01-27 14:35] avigad commented on #162
You are right, it is a lousy explanation. I'll fix it. The issue is that there is an asymmetry: you can write both
[code]
and
[code]
but for assumptions, you have to write either
[code]
or
[code]
I was trying to explain why we cannot allow anonymous "assume". The problem is Lean also lets you write
[code]
to introduce the hypothesis with label `H`, and let Lean infer the proposition that is being

[2016-01-27 14:49] spl commented on #162
Yep. Thanks!

[2016-01-27 14:55] spl commented on #162
Actually, I think it's important that this is a question of language design rather than user usage. In other words, you explained here why the language designer would not allow for an anonymous `assume`. But from a tutorial perspective, it should perhaps be more of a “Hey, watch out for this potential syntax gotcha!”

(It just occurred to me that one shouldn't just assume one can be anonymous with

[2016-01-30 09:51] spl opened #170 "Write Section 7.8 Well-Founded Recursion"
Just leaving this issue here as a reminder for the TODO in the text (from aaa36e6 on Dec 30, 2014).

[2016-01-30 11:46] spl opened #173 "Making auxiliary facts visible: have, assert, using"
In Section 8.6 Making Auxiliary Facts Visible, there is the following example:

[code]

The text introduces “visible” with:

I'm not yet sure what “visible” means exactly. The text also seems to use “available” interchangeably with “visible.” I thought it might mean something like “in scope.” So when I changed `assert` to `have` in the above example, I expected a complaint from Lean. But I didn't

[2016-01-30 13:27] spl opened #175 "Operant?"
The word “operant” is used in a number of places in the tutorial text, and it is not defined.

I've never seen the word before (as a native English speaker who has read quite a bit of programming language research material), and Google doesn't really provide a useful meaning that seems applicable in this situation. I infer the meaning to be either “in scope” (as it applies to notation) or “in use”

[2016-01-31 15:35] spl opened #186 "Change finset.induction to Lean text"
This is a note to change `finset.induction` to use Lean text instead of plain text (from a TODO on July 31, 2015 at f561323c533fd88d0bafb83f99ab220cc73046e3).

[2016-02-01 00:11] avigad commented on #160
Thanks for this. The sticking point is that we have been waiting for a simplifier! An earlier version of Lean had one, and a new one, being developed by Leo and Daniel, is starting to show signs of life. So hopefully we will be able to write this soon (and, more generally, add a chapter on automation).

[2016-02-01 00:13] avigad commented on #170
Again, thanks. We can do well-founded recursions by hand (see, for example, library/data/nat/div), but we still do not have a friendly user front end.

[2016-02-01 00:24] avigad commented on #173
The problem is simply that the tutorial is out of date: Leo changed the semantics of `proof ... qed` so that now all the hypotheses are put in the context by default.

We still need to use `assert` and `using`, etc., for tactics, and also for unusual situations where the elaborator needs to find them to infer an implicit parameter, as described in Chapter 12.

Probably the best thing to do is to r

[2016-02-01 00:26] avigad commented on #175
I didn't realize that I was using it so much! The dictionary meaning is here:

  http://www.merriam-webster.com/dictionary/operant

It can be used to mean "in effect," "in use," "in scope," "in play," etc. I'll change them to "in effect" or "in use."

[2016-02-01 06:12] spl commented on #175
Yes, I did see the dictionary meaning, but I think the dictionary is leaving out some context for its use. The main context I found was in psychology and social science. Whereas, it felt like the tutorial was using it in a technical sense that, perhaps, was not implied by the dictionary. Given that impression, I think a less obscure vocabulary choice is warranted. But, out of curiosity, have you s

[2016-02-01 06:14] spl commented on #173
Ah, that makes sense. Thanks for the explanation.

[2016-02-01 06:15] spl commented on #160
I look forward to reading about it.

[2016-02-01 13:58] avigad commented on #175
To be honest, I don't know where I picked it up. The first 30 pages of Google hits are filled with articles on "operant conditioning," which I don't think I have ever heard of. Anyhow, "available" and "in effect" are much clearer.

[2016-02-04 22:05] #162 closed

[2016-02-04 22:05] #175 closed

[2016-02-04 22:49] #186 closed

[2016-02-04 22:51] soonhokong opened #189 "test failure at chapter 04"
[code]

[code]

[2016-02-04 22:52] soonhokong opened #190 "test failure at chapter 13"
[code]

[code]

[2016-02-05 06:10] soonhokong commented on #189
Having `set_option unifier.max_steps 40000` is a solution (but maybe not a good one). Another possibility is to introduce an intermediate step as follows:

[code]

[2016-02-05 06:30] leodemoura commented on #189
@avigad @soonhokong I think we should avoid examples that use ▸.
This is an anti-pattern. It generates fragile proofs that are hard to maintain.
In the future, I want to completely disallow terms such as `!right_distrib ▸ !right_distrib ▸ H1`.

I know that in Chapter 4, tactics were not introduced yet.
But, we can introduce just the `rewrite` tactic.
Another option is to provide the argument to `r

[2016-02-08 05:12] soonhokong commented on #189
Closed by d9aa276de23086f70db5065297309e668baaa1a2

[2016-02-08 05:12] #189 closed

[2016-02-08 05:12] soonhokong commented on #190
Closed by d9aa276de23086f70db5065297309e668baaa1a2

[2016-02-08 05:12] #190 closed

[2016-05-19 21:11] soonhokong opened #196 "test failures"
@avigad, could you check the following test failures? When they're fixed, I'll merge the PRs and update the web-version:

[code]

[code]

[code]

[2016-05-20 00:55] #196 closed

[2016-07-03 23:29] fpvandoorn opened #201 "Expand 7.6"
Add how dependent pattern matching works for anonymous `have` expressions and `show` expressions (the inductive definition is called `this`).

[2016-11-19 13:54] yblein opened #204 "Indentation issue on online code blocks"
There is an issue with the indentation in the code blocks of the online tutorial: tabs and spaces appear to be mixed up. The following example illustrates this on the lines inside the `calc` environment:

[code]

Of course it looks fine on Github which is using 8 spaces for tabs, but it does not on the online tutorial which is using 4 spaces in code blocks. This makes code blocks a little wonky.
S

[2016-11-25 15:39] gebner opened #207 "Snippet does not work with latest lean 2"
There is at least one snippets that does not work with the current lean 2 version, in `10_Structures_and_Records.org`:
[code]
which fails with
[code]

This is also broken with the lean.js version used by the online tutorial.

[2016-11-25 15:50] avigad commented on #207
Interesting -- I wonder when it broke. This works instead:
[code]
I don't know when anyone has ever the structure notation in a match.

@leodemoura Should I just remove this from the Lean 2 tutorial?

[2016-11-25 18:48] #204 closed

[2016-11-25 18:50] gebner commented on #204
Thanks for pointing this out!

The issue was not at all related to github using 8 spaces for tabs.  In fact, the *.org files all use spaces and no tabs at all!  As you guessed, the problem was that the emacs org-mode export silently changed spaces to tabs, here is a related stackexchange post: http://emacs.stackexchange.com/questions/24283/org-mode-converting-spaces-to-tabs-when-evaluating-source

[2016-12-08 15:17] #173 closed

[2016-12-08 15:18] avigad commented on #160
The simplifier will be described in the new tutorial for Lean 3. (There are no longer plans to develop it for Lean 2.)

[2016-12-08 15:18] #160 closed

[2016-12-08 15:19] avigad commented on #117
The issue is not causing problems in Lean 2.

[2016-12-08 15:19] #117 closed

[2016-12-08 15:21] avigad commented on #89
This doesn't seem urgent for Lean 2. The tutorial is being rewritten for Lean 3.

[2016-12-08 15:21] #89 closed

[2021-04-10 20:17] jachymb opened #215 "Unknown identifier 'take'"
The first "Try it yourself example" of the chapter "4 Quantifiers and Equality" won't compile and throws the error `Unknown identifier 'take'` using Lean 3.28. I guess there should be an `assume` instead of `take` and also `take` probably should not be hilighted anymore and have it's other mentions in the document removed too.

[2021-04-10 20:27] jachymb commented on #215
but it seems the tutorial is intended for LEAN 2 only? So maybe this should just be closed.